<mat-card>
    <table class="table table-dark" *ngIf="det">
        <td>
        <label for="customerNo">Customer Number</label>
        <input type="number" [(ngModel)]="det.customerNo"><br>
        <label for="accid">Account ID</label>
        <input type="number" [(ngModel)]="det.accid"><br>
        <label for="acctype">Account type</label>
        <input type="text" [(ngModel)]="det.acctype"><br>
        <label for="balance">Customer Balance</label>
        <input type="text" [(ngModel)]="det.balance"><br>
        <label for="date">date</label>
        <input type="text" [(ngModel)]="det.opdate"><br>
        
    <button mat-fab (click)="save()">Save 🙂  </button>
    <button mat-fab (click)="back()">Back 🔙   </button>
    </td>
    </table>
    </mat-card>
    