/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
 th, td {
    padding: 15px;
    text-align: left;
  }
 mat-card {
    padding: 10px;
    text-align: left;
      border:red;
    }
    body {background-color: coral;}
    